.block {
    border: 1px;
    padding: 10px;
    margin-bottom: 10px;
    cursor : pointer;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.19);
	transition: border-color ease-out 0.35s, box-shadow .35s ease-in;
}

.blue-block {
    border-color : rgb(0, 142, 230);
    background   : rgb(118, 202, 255);
    color        : rgb(0, 0, 87);
}
.blue-block:hover { background   : rgb(52, 177, 255); box-shadow: 0 3px 6px 0 rgba(50, 50, 255, 0.4), 0 4px 8px 0 rgba(50, 50, 255, 0.38);}
.blue-block:active { background   : rgb(160, 219, 255); }


.pistache-block {
    border-color : rgb(0, 151, 8);
    background   : rgb(137, 255, 143);
    color        : rgb(4, 107, 0);
}
.pistache-block:hover { background   : rgb(53, 204, 60); box-shadow: 0 3px 6px 0 rgba(50, 255, 50, 0.4), 0 4px 8px 0 rgba(81, 255, 50, 0.38);}
.pistache-block:active { background   : rgb(184, 255, 187); }


.green-block {
    border-color : rgb(0, 100, 5);
    background   : rgb(4, 221, 15);
    color        : rgb(2, 63, 0);
}
.green-block:hover { background   : rgb(0, 165, 8); box-shadow: 0 3px 6px 0 rgba(84, 255, 50, 0.4), 0 4px 8px 0 rgba(108, 255, 50, 0.38);}
.green-block:active { background   : rgb(88, 200, 94); }


.orange-block {
    border-color : rgb(184, 89, 0);
    background   : rgb(252, 186, 124);
    color        : rgb(112, 54, 0);
}
.orange-block:hover { background   : rgb(255, 135, 23); box-shadow: 0 3px 6px 0 rgba(255, 149, 50, 0.4), 0 4px 8px 0 rgba(255, 142, 50, 0.38);}
.orange-block:active { background   : rgb(255, 209, 165); }


.pink-block {
    border-color : rgb(189, 0, 79);
    background   : rgb(255, 140, 188);
    color        : rgb(93, 0, 39);
}
.pink-block:hover { background   :  rgb(253, 84, 154); box-shadow: 0 3px 6px 0 rgba(255, 50, 163, 0.4), 0 4px 8px 0 rgba(255, 50, 111, 0.38);}
.pink-block:active { background   :  rgb(255, 188, 216); }

.red-block {
    border-color : rgb(122, 18, 0);
    background   : rgb(255, 84, 78);
    color        : rgb(88, 13, 0);
}
.red-block:hover { background   :  rgb(236, 53, 47); box-shadow: 0 3px 6px 0 rgba(255, 50, 50, 0.4), 0 4px 8px 0 rgba(255, 50, 50, 0.38);}
.red-block:active { background   : rgb(235, 79, 74); }


.yellow-block {
    border-color : rgb(133, 108, 0);
    background   : rgb(255, 243, 135);
    color        : rgb(66, 60, 0);
}
.yellow-block:hover { background   : rgb(235, 219, 78); box-shadow: 0 3px 6px 0 rgba(255, 241, 50, 0.4), 0 4px 8px 0 rgba(255, 241, 50, 0.38);}
.yellow-block:active { background   : rgb(0, 0, 0); }
