
.variation{ margin-left: 8px; padding: 3px; }

.variation-checked{ margin-left: 8px; padding: 3px; border-color: #3A6FFF; background-color: #3A6FFF; opacity: .8; }

.variationimg{ width:50px; height:50px; margin: 4px; }

.variationimg-checked{ width:58px; height:58px; }

.attribut { margin-right:5px; height:60px; padding-left: 0; line-height:60px; font-weight: normal; }

.acheternow { background-color:#3A6FFF; color:#FFFFFF; margin:5px;}

.ajoutpanier { background-color:#003AF4; color:#FFFFFF; margin:5px;}

.ajoutpanier:hover { background-color:#3AB7F4; color:rgb(56, 56, 56); }

.var-group { padding: 0px; margin-top:10px;margin-bottom:15px; }

.acheternow:hover { background-color:rgb(121, 228, 255); color:rgb(56, 56, 56); }


input[type="number"] {  -moz-appearance: textfield; }


/* ##Device = Desktops
##Screen = 1281px to higher resolution desktops */
@media (min-width: 1281px) and (max-width: 1919px) {
        
  .variation { margin-left: 8px; padding: 3px; }
  .variation-checked { margin-left: 8px; padding: 3px; border-color: #3A6FFF; background-color: #3A6FFF; opacity: .8; }
  .variationimg { width:45px; height:45px; margin: 4px; }
  .variationimg-checked { width:53px; height:53px; }
  .attribut { margin-right:5px; height:55px; padding-left: 0; line-height:55px; font-weight: normal; }
  .acheternow { background-color:#3A6FFF; color:#FFFFFF; margin:5px;}
  .ajoutpanier { background-color:#003AF4; color:#FFFFFF; margin:5px;}
  .var-group { padding: 0px; margin-top:10px;margin-bottom:15px; }
}
/* ##Device = Laptops, Desktops
##Screen = B/w 1025px to 1280px */
@media (min-width: 1025px) and (max-width: 1280px) {
      
  .variation { margin-left: 8px; padding: 3px; }
  .variation-checked { margin-left: 8px; padding: 3px; border-color: #3A6FFF; background-color: #3A6FFF; opacity: .8; }
  .variationimg { width:40px; height:40px; margin: 4px; }
  .variationimg-checked { width:48px; height:48px; }
  .attribut { margin-right:5px; height:50px; padding-left: 0; line-height:50px;font-weight: normal; }
  .acheternow { background-color:#3A6FFF; color:#FFFFFF; margin:4px;}
  .ajoutpanier { background-color:#003AF4; color:#FFFFFF; margin:4px;}
  .var-group { padding: 0px; margin-top:10px;margin-bottom:15px; }
}
/* ##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 1024px */
@media (min-width: 768px) and (max-width: 1024px) {
      
  .variation { margin-left: 4px; padding: 2px; }
  .variation-checked { margin-left: 8px; padding: 2px; border-color: #3A6FFF; background-color: #3A6FFF; opacity: .8; }
  .variationimg { width:36px; height:36px; margin: 2px; }
  .variationimg-checked { width:40px; height:40px; }
  .attribut { margin-right:5px; height:40px; padding-left: 0; line-height:40px; font-weight: normal; }
  .acheternow {  background-color:#3A6FFF; color:#FFFFFF; margin:3px; padding:5px 10px;}
  .ajoutpanier { background-color:#003AF4; color:#FFFFFF; margin:3px; padding:5px 10px;}
  .var-group { padding: 0px; margin-top:10px;margin-bottom:15px; }
}
/* ##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
      
  .variation { margin-left: 4px; padding: 2px; }
  .variation-checked { margin-left: 8px; padding: 2px; border-color: #3A6FFF; background-color: #3A6FFF; opacity: .8; }
  .variationimg { width:32px; height:32px; margin: 2px; }
  .variationimg-checked { width:36px; height:36px; }
  .attribut { margin-right:5px; height:36px; padding-left: 0; line-height:36px; font-weight: normal; }
  .acheternow {  background-color:#3A6FFF; color:#FFFFFF; margin:2px; padding:4px 8px; }
  .ajoutpanier { background-color:#003AF4; color:#FFFFFF; margin:2px; padding:4px 8px; }
  .var-group { padding: 0px; margin-top:10px;margin-bottom:15px; }
}
/* ##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px */
@media (min-width: 481px) and (max-width: 767px) {
      
  .variation { margin-left: 4px; padding: 2px; }
  .variation-checked { margin-left: 8px; padding: 2px; border-color: #3A6FFF; background-color: #3A6FFF; opacity: .8; }
  .variationimg { width:32px; height:32px; margin: 2px; }
  .variationimg-checked { width:36px; height:36px; }
  .attribut { margin-right:5px; height:36px; padding-left: 0; line-height:36px; font-weight: normal; }
  .acheternow {  background-color:#3A6FFF; color:#FFFFFF; margin:2px; padding:4px 8px; }
  .ajoutpanier { background-color:#003AF4; color:#FFFFFF; margin:2px; padding:4px 8px; }
  .var-group { padding: 0px; margin-top:10px;margin-bottom:15px; }
}
/* ##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px */
@media (min-width: 320px) and (max-width: 480px) {
      
  .variation { margin-left: 4px; padding: 2px; }
  .variation-checked { margin-left: 8px; padding: 2px; border-color: #3A6FFF; background-color: #3A6FFF; opacity: .8; }
  .variationimg { width:32px; height:32px; margin: 2px; }
  .variationimg-checked { width:36px; height:36px; }
  .attribut { margin-right:5px; height:36px; padding-left: 0; line-height:36px; font-weight: normal; }
  .acheternow {  background-color:#3A6FFF; color:#FFFFFF; margin:1px; padding:3px 6px; }
  .ajoutpanier { background-color:#003AF4; color:#FFFFFF; margin:1px; padding:3px 6px; }
  .var-group { padding: 0px; margin-top:10px;margin-bottom:15px; }
}

/* ##Screen <= 320px  */

@media (max-width: 320px) {

  .variation { margin-left: 4px; padding: 2px; }
  .variation-checked { margin-left: 2px; padding: 1px; border-color: #3A6FFF; background-color: #3A6FFF; opacity: .8; }
  .variationimg { width:20px; height:20px; margin: 1px; }
  .variationimg-checked { width:24px; height:24px; }
  .attribut { margin-right:5px; height:22px; padding-left: 0; line-height:22px; font-weight: normal; }
  .acheternow {  background-color:#3A6FFF; color:#FFFFFF; margin:1px; padding:3px 6px; }
  .ajoutpanier { background-color:#003AF4; color:#FFFFFF; margin:1px; padding:3px 6px; }
  .var-group { padding: 0px; margin-top:10px;margin-bottom:15px; }
}