<div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12 round-border" [ngClass] = "selected ? 'selected-box' : 'not-selected-box'" style="text-align: left;" >
    
  <div class = "titre">
    {{titre}}
  </div>
  
  <ng-content select="[contenu]"></ng-content>
  
  <button *ngIf = "selectable" class="bbtn selectionner" (click) = "select()">
    {{selected ? 'Adresse par défaut' : 'Définir par défaut' }}
  </button>

  <button class="bbtn modifier" (click) = "expand()">
    <span class="glyphicon glyphicon-pencil"></span>
  </button>

</div>