.dropbtn {
    background-color: rgb(0, 150, 236);
    color: #FFFFFF;
    padding: 8px 16px;
    min-width: 180px;
    border: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 40, 0.5), 0 6px 20px 0 rgba(0, 0, 40, 0.5);
    border-radius: 4px;
    line-height: 1;
}

.dropbtn:hover {
    background-color: rgb(121, 228, 255);
    color: rgb(56, 56, 56);
    border-radius: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-top: 5px;
    border-radius: 4px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: lightgrey;
    margin-top: -1px;
    min-width: 180px;
    z-index: 1;
    padding: 10px;
    background-color: #fff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 40, 0.5), 0 6px 20px 0 rgba(0, 0, 40, 0.5);
}

.dropdown-content a,
.content-btn {
    background-color: #fff;
    color: rgb(56, 56, 56);
    padding: 6px 12px;
    text-decoration: none;
    display: block;
    border: none;
    align-self: center;
    text-align: center;
    width: 100%
}

.dropdown-content a:hover,
.content-btn:hover {
    background-color: rgb(70, 129, 255);
    color: white;
}

.dropbtn:active {
    background-color: rgb(218, 248, 255);
    color: rgb(0, 38, 255);
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media (min-width: 1281px) and (max-width: 1921px) {
    .dropbtn,
    .dropdown-content {
        min-width: 200px;
    }
    .dropbtn {
        padding: 8px 16px;
        border-radius: 4px;
    }
    .dropdown-content {
        padding: 10px;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    .dropbtn,
    .dropdown-content {
        min-width: 180px;
    }
    .dropbtn {
        padding: 7px 14px;
        border-radius: 3px;
    }
    .dropdown-content {
        padding: 10px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .dropbtn,
    .dropdown-content {
        min-width: 150px;
    }
    .dropbtn {
        padding: 6px 12px;
        border-radius: 3px;
    }
    .dropdown-content {
        padding: 10px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .dropbtn,
    .dropdown-content {
        min-width: 120px;
    }
    .dropbtn {
        padding: 5px 10px;
        border-radius: 2px;
    }
    .dropdown-content {
        padding: 8px;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .dropbtn,
    .dropdown-content {
        min-width: 80px;
    }
    .dropbtn {
        padding: 4px 8px;
        border-radius: 2px;
    }
    .dropdown-content {
        padding: 10.5px;
    }
}

@media (max-width: 320px) {
    .dropbtn,
    .dropdown-content {
        min-width: 60px;
    }
    .dropbtn {
        padding: 3px 6px;
        border-radius: 2px;
    }
    .dropdown-content {
        padding: 3px 7px;
    }
}