# MySQL Configuration
MYSQL_HOST=your_mysql_host
MYSQL_DATABASE=your_database_name
MYSQL_USERNAME=your_username
MYSQL_PASSWORD=your_password

# Firestore Configuration
FIRESTORE_PROJECT_ID=your_project_id
FIRESTORE_CREDENTIALS_PATH=path_to_credentials.json